@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Italiana&family=Julius+Sans+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Italiana&family=Julius+Sans+One&display=swap");

* {
    box-sizing: border-box;
}

:root {
    --main-color: lightseagreen;
    --focus-color: rgb(153, 200, 247);
    --active-color: rgb(140, 194, 248);
    --textbox-color: rgba(115, 213, 255, 0.8);
    --button-color: rgb(70, 180, 191);
}

body { 
    margin:0;
}



a {
    display: flex;
}


/*--------IMAGE STYLING---------*/
img {
    max-width: 100%;
    object-fit:cover;
}

.homepage-image{
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/* .image-organizer{                 
    align-content: space-between;
    padding: 0.5rem;
} */

#image-container{                 
    display: flex;
    align-items: center;
    position:inherit;
    padding:1rem;
}

#image-container_2{                 
    display: flex;
    align-items: center;
    position:inherit;
    padding:0.5rem;
}

#image-container_3{                 
    display: flex;
    align-items: center;
    position:inherit;
    padding:0.5rem;
}

#image-container_4{                 
    display: flex;
    align-items: center;
    position:inherit;
    padding:0.5rem;
}

#image-container_5{                 
    display: flex;
    align-items: center;
    position:inherit;
    padding:0.5rem;
}

/*------------------------------*/

/*          TEXT STYLING        */
#hero-text{
    position:absolute;
    display: flex;
    justify-content: center;
    align-content: flex-end;
    height: 30vh;  
}   

.top-title {
    padding: 18px;
    text-align: center;
    background: white;
    color: black;
    font-size: 30px;
  }

  .top-title-furniture_page{
    padding: 18px;
    text-align: center;
    background: white;
    color: black;
    font-size: 24px;
  }

.image-container {   /*<--- THIS IS FOR TEXT */                  
    display: flex;
    align-items: flex-start;
    position:inherit;
    width: 100%;
    text-align: left;
}

.text-container {
    position: absolute;
    color: black;
    left: 50%;
    top: 33%;
    transform: translate(-100%, -50%);
    padding: 0.1rem;
    text-align: left;
    font-size: 18px;
    background-color: var(--textbox-color);
}

.image-container_inside-text_overview-page{   /*<--- THIS IS FOR TEXT */                  
    display: flex;
    align-items: flex-start;
    position:inherit;
    width: 100%;
    text-align: left;
}

.txt-container_inside-text_overview-page{
    display: flex;
    justify-content: center;
    bottom: 70%;
    position: absolute;
    color: black;
    padding: 0.1rem;
    text-align: left;
    font-size: 18px;
    background-color: var(--textbox-color);
}

.txt-container_how-smarthouse-was-built {   
    border-radius: 10%;
    width: 100%;
    left:20%;
    text-align: center;
    font-size: 12px;
    font-family: "Inria Serif", serif; 
    color: black;
    padding: 0.1rem;
    background-color: var(--textbox-color);
}

.image-container_overview-page {              
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}

.image-container_builders {              
    display: flex;
    justify-content: center;
    padding: 2rem;
}



.txt-container_building-the-smarthouse1 { 
    border-radius: 10%;
    width: 100%;
    left:20%;
    text-align: center;
    font-size: 12px;
    font-family: "Inria Serif", serif; 
    color: black;
    padding: 0.1rem;
    background-color: var(--textbox-color);
}

.txt-container_builders { 
    position: absolute;
    border-radius: 10%;
    width: 100%;
    left:20%;
    text-align: center;
    font-size: 12px;
    font-family: "Inria Serif", serif; 
    color: black;
    padding: 0.1rem;
    background-color: var(--textbox-color);
}



.text-container > p > a {
    text-decoration: none;
    font-family: "Italiana", ital;
}

/* .text-container > h1 {
    text-decoration: underline;
} */

.text-container_2 > p > a {
    text-decoration: none;
}

.text-container_3 > p > a {
    text-decoration: none;
}

.text-container_4 > p > a {
    text-decoration: none;
}

.text-container_5 > p > a {
    text-decoration: none;
}

.text-container_2{
    position: absolute;
    color: black;
    left: 60%;
    top: 142%;
    transform: translate(-20%, -50%);
    padding: 2rem;
    text-align: left;
    font-size: 18px;
    background-color: var(--textbox-color);
}

.text-container_3{
    position: absolute;
    color: black;
    left: 60%; 
    top: 210%;
    transform: translate(-20%, -50%);
    padding: 1rem;
    text-align: left;
    font-size: 18px;
    background-color: var(--textbox-color);
}

.text-container_4{
    position: absolute;
    color: black;
    left: 60%; 
    top: 279%;
    transform: translate(-20%, -50%);
    padding: 2rem;
    text-align: left;
    font-size: 18px;
    background-color: var(--textbox-color);
}

.text-container_5{
    position: absolute;
    color: black;
    left: 60%; 
    top: 348%;
    transform: translate(-20%, -50%);
    padding: 3rem;
    text-align: left;
    font-size: 18px;
    background-color: var(--textbox-color);
}

/* .image-container_living-room{              
    display: flex;
    align-items: flex-start;
    position:inherit;
} */





.text-container_convenience-page{
    position: absolute;
    color: black;
    left: 190%;
    top: 10%;
    width: 100%;
    transform: translate(-160%, -70%);
    padding: 0.5rem;
    font-size: 18px;
    background-color: white; 
}

.page-header-container {   /*<--- THIS IS FOR TEXT */                  
    text-align: center;
}






.button {
    background-color:var(--button-color);
    border: none;
    color: black;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

/*------------------------------*/


/*------------BOX STYLING--------------*/

/*------------------------------*/



#main-nav {
    background-color: var(--main-color);
    display: flex;
    /* list-style-type: none; */
    padding: 0;
    /* justify-content: center; */
    width: 100%;
    position:fixed;
    top: 0;
    z-index: 100;
}

#main-nav > a {
    display: inline-block;
    background-color: var(--main-color);
    padding: 0.5rem;
    border: 1px solid black;
    font-family: "Inknut Antiqua", ital;
    font-weight: 100;
    font-style: normal;
    text-decoration: none;
    color: black;
    width: 20%;
    min-width: 175px;
    height: 40px;
}

/* #main-nav > a {
    display: flex;
    justify-content: center;
} */

#main-nav > a:hover{
    color: black;
    background-color: var(--focus-color);
}

#main-nav > a.home_tab{
    font-family: "Julius Sans One", ital;
}

#main-nav > a.active{
    background-color: var(--active-color);
}


 
