@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap");

* {
    box-sizing: border-box;
}

:root {
    --main-color: lightseagreen;
    --focus-color: rgb(153, 200, 247);
    --active-color: rgb(140, 194, 248);
    --textbox-color: rgba(115, 213, 255, 0.5)
}

body {
    margin:0;
}






/*--------IMAGE STYLING---------*/
img {
    max-width: 100%;
    object-fit:cover;
}

.homepage-image{
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}


/*------------------------------*/

/*          TEXT STYLING        */
#hero-text{
    position:absolute;
    display: flex;
    justify-content: center;
    align-content: flex-end;
    height: 30vh;   
}           

#page-title {
    position:absolute;
    display: flex;
    align-items: flex-end;
    align-items: center;
    height: 15vh;
}

.image-container {   /*<--- THIS IS FOR TEXT */                  
    display: flex;
    align-items: flex-start;
    position:inherit;
    width: 100%;
    text-align: left;
}

.text-container {
    position: absolute;
    color: black;
    left: 50%;
    top: 33%;
    transform: translate(-100%, -50%);
    padding: 0.1rem;
    text-align: left;
    font-size: 18px;
    background-color: var(--textbox-color);
}

.text-container_2{
    position: absolute;
    color: black;
    left: 60%;
    top: 142%;
    transform: translate(-20%, -50%);
    padding: 2rem;
    text-align: left;
    font-size: 18px;
    background-color: var(--textbox-color);
}

/*------------------------------*/


/*------------BOX STYLING--------------*/

/*------------------------------*/




/* #hero {
    height: 80vh;
    background-attachment: fixed;
    background-position-x: center;
    background-image: url(/images-for-house/futuristic-house.jpg);
    background-size: cover;
}

#hero article {
    width: 40vw;
    padding: 2em;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1rem 0 1rem;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.33);
}    */

/* section {
    display: block;
    unicode-bidi: isolate;
}

article {
    display: block;
    unicode-bidi: isolate;
} */



#main-nav {
    background-color: var(--main-color);
    display: flex;
    /* list-style-type: none; */
    padding: 0;
    /* justify-content: center; */
    width: 100%;
    position:fixed;
    top: 0;
    z-index: 100;
}

#main-nav > a {
    display: inline-block;
    background-color: var(--main-color);
    padding: 0.5rem;
    border: 1px solid black;
    font-family: "Inknut Antiqua", ital;
    font-weight: 100;
    font-style: normal;
    text-decoration: none;
    color: black;
    width: 20%;
    min-width: 175px;
    height: 40px;
}

/* #main-nav > a {
    display: flex;
    justify-content: center;
} */

#main-nav > a:hover{
    color: black;
    background-color: var(--focus-color);
}

#main-nav > a.home_tab{
    font-family: "Julius Sans One", ital;
}

#main-nav > a.active{
    background-color: var(--active-color);
}


 
